{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Title & favicon -->
    <title>{% block title %}{% endblock %} | Abraxan</title>
    <link rel="icon" href="{# TODO favicon #}" type="image/x-icon">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <!-- Custom CSS -->
    {% block custom_css %}{% endblock %}

</head>
<body>
    {% block content %}{% endblock %}

    <!-- Main JS -->
    <script rel="script" type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <!-- Custom JS -->
    {% block custom_javascript %}{% endblock %}
</body>
</html>