{% extends 'nifleur/base_site.html' %}

{% load static %}

{% block title %}Liste des contrats{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'vendors/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-center">
            <h1>Liste des contrats</h1>
            <a class="btn btn-primary d-flex align-items-center ml-3 mr-3" href="{% url 'create_contract_request' %}">Créer une demande</a>
            <div class="dropdown d-flex align-items-center">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Exporter les données
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'export_contract_requests' %}">CSV</a></li>
                    <li><a class="dropdown-item" href="{% url 'export_contract_requests' %}?xls=True">Excel</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive pb-3">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="contract_request_table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Date de la demande</th>
                                    <th>Ecole</th>
                                    <th>Structure juridique</th>
                                    <th>Intervenant</th>
                                    <th>Société</th>
                                    <th>Commentaire</th>
                                    <th>Statut</th>
                                    <th>Type de mission</th>
                                    <th>Tarif</th>
                                    <th>Type d'horaire</th>
                                    <th>TVA</th>
                                    <th>Volume horaire</th>
                                    <th>Date début</th>
                                    <th>Date fin</th>
                                    <th>Matière</th>
                                    <th>Promotion</th>
                                    <th>Initial</th>
                                    <th>Alternant</th>
                                    <th>Période</th>
                                    <th>RP</th>
                                    <th>Type de recrutement</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contract in contract_requests %}
                                    <tr style="background-color: {{ contract.status.color }}">
                                        <td>
                                            <a href="{{ contract.get_absolute_url }}"><i class="fa-solid fa-eye"></i></a>
                                        </td>
                                        <td>{{ contract.created_at }}</td>
                                        <td>
                                            <a href="{{ contract.school.get_absolute_url }}">{{ contract.school }}</a>
                                        </td>
                                        <td>{{ contract.legal_structure }}</td>
                                        <td><a href="{{ contract.speaker.get_absolute_url }}">{{ contract.speaker }}</a></td>
                                        <td>{% if contract.company %}{{ contract.company }}{% endif %}</td>
                                        <td>{% if contract.comment %}{{ contract.comment }}{% endif %}</td>
                                        <td>{{ contract.status }}</td>
                                        <td>{{ contract.performance }}</td>
                                        <td>{{ contract.applied_rate }} €</td>
                                        <td>{{ contract.rate_type }}</td>
                                        <td>{{ contract.ttc|yesno:"TTC,SST," }}</td>
                                        <td>{{ contract.hourly_volume|floatformat:"0" }} {% if contract.unit %}{{ contract.unit }}{% endif %}</td>
                                        <td>{{ contract.started_at }}</td>
                                        <td>{{ contract.ended_at }}</td>
                                        <td>{{ contract.discipline }}</td>
                                        <td>{{ contract.school_year }}</td>
                                        <td>{% include 'nifleur/components/boolean_icon.html' with data=contract.school_year.initial %}</td>
                                        <td>{% include 'nifleur/components/boolean_icon.html' with data=contract.school_year.alternating %}</td>
                                        <td>{{ contract.get_period_display }}</td>
                                        <td>{{ contract.rp.get_full_name }}</td>
                                        <td>{{ contract.get_recruitment_type_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
    <script src="{% static 'vendors/datatables/jquery.dataTables.min.js' %}"></script>
    <script>
    $(() => {
        $('#contract_request_table').DataTable({
            'columnDefs': [{'className': 'text-center', 'targets': '_all'}],
            'language': {'url': "{% static 'vendors/datatables/translate_fr.json' %}"}
        })
    })
    </script>
{% endblock %}