{% extends 'nifleur/base_site.html' %}

{% load static %}

{% block title %}Créer une demande de contrat{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'vendors/datepicker/datepicker.min.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <h2 class="d-flex justify-content-center mb-3">Créer une demande de contrat</h2>
    <div class="col-sm-10 offset-sm-1 col-xs-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% include 'nifleur/components/errors_form.html' %}
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.legal_structure.label }}*</p>
                                            {{ form.legal_structure }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.school.label }}*</p>
                                            {{ form.school }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.speaker.label }}*</p>
                                            <div class="input-group mb-3">
                                                {{ form.speaker }}
                                                <button class="btn btn-outline-success" type="button" title="Créer un intervenant" onclick="openSpeakerForm()">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.recruitment_type.label }}*</p>
                                            {{ form.recruitment_type }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.status.label }}*</p>
                                            {{ form.status }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.rp.label }}*</p>
                                            {{ form.rp }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            {{ form.comment.label }}
                                            {{ form.comment }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p><strong>*</strong> Champs obligatoires</p>
                        </div>

                        <div class="col-md-6 col-sm-12">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.performance.label }}*</p>
                                            {{ form.performance }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.discipline.label }}*</p>
                                            {{ form.discipline }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.school_year.label }}*</p>
                                            {{ form.school_year }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.period.label }}*</p>
                                            {{ form.period }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.started_at.label }}*</p>
                                            {{ form.started_at }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.ended_at.label }}*</p>
                                            {{ form.ended_at }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.hourly_volume.label }}*</p>
                                            {{ form.hourly_volume }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            {{ form.unit.label }}
                                            {{ form.unit }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.applied_rate.label }}*</p>
                                            {{ form.applied_rate }}
                                        </div>
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.ttc.label }}*</p>
                                            {{ form.ttc }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-xs-12">
                                            <p class="required">{{ form.rate_type.label }}*</p>
                                            {{ form.rate_type }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex justify-content-center mt-2">
                        <a href="{% url 'contract_requests_list' %}" type="submit" class="btn btn-danger mr-3">Annuler</a>
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_javascript %}
    <script src="{% static 'vendors/datepicker/datepicker-full.min.js' %}"></script>
    <script>
    const getDatePickerTitle = elem => {
      // From the label or the aria-label
      const label = elem.nextElementSibling;
      let titleText = '';
      if (label && label.tagName === 'LABEL') {
        titleText = label.textContent;
      } else {
        titleText = elem.getAttribute('aria-label') || '';
      }
      return titleText;
    }

    const elems = document.querySelectorAll('.datepicker_input');
    for (const elem of elems) {
      const datepicker = new Datepicker(elem, {
        'format': 'dd/mm/yyyy', // UK format
        title: getDatePickerTitle(elem)
      });
    }

    function openSpeakerForm() {
        window.open('{% url "speaker_form" %}', '_blank', 'top=100,left=500,width=900,height=700')
    }
    </script>
{% endblock %}