{% extends 'nifleur/base_site.html' %}

{% load static %}

{% block title %}Matières{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm align-middle text-center">
                    <thead>
                        <tr>
                            <th>Classe</th>
                            <th>Nom</th>
                            <th>Intervenant</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for discipline in disciplines %}
                            <tr>
                                <td>{{ discipline.school_year }}</td>
                                <td>{{ discipline.label }}</td>
                                <td>
                                    {% if discipline.speaker %}
                                        <a href="{% url 'speaker_details' discipline.speaker.id %}">{{ discipline.speaker }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Envoyer</button>
    </form>
{% endblock %}
