{% extends 'nifleur/base_site.html' %}

{% load static %}

{% block title %}Matières{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'vendors/DataTables/datatables.min.css' %}">
{% endblock %}

{% block content %}
    <table id="datatable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Classe</th>
                <th>Nom</th>
                <th>Intervenant</th>
            </tr>
        </thead>
        <tbody>
            {% for discipline in disciplines %}
                <tr>
                    <td>{{ discipline.school_year }}</td>
                    <td>{{ discipline.label }}</td>
                    <td>
                        {% if discipline.speaker %}
                            <a href="{% url 'speaker_details' discipline.speaker.id %}">{{ discipline.speaker }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block custom_javascript %}
{#    <script rel="script" type="text/javascript" src="{% static 'vendors/DataTables/datatables.min.js' %}"></script>#}
    <script rel="script" type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script rel="script" type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(() => {
            $('#datatable').DataTable()
        })
    </script>
{% endblock %}
