{% extends 'nifleur/base_site.html' %}

{% load static %}

{% block title %}Paramètre de l'application{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'vendors/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <h1 class="d-flex justify-content-center mb-4">Paramètres</h1>

    <div class="row mb-4">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 class="d-flex justify-content-center">
                Liste des prestations
                <i class="fa-solid fa-circle-plus fa-xs text-success clickable" data-bs-toggle="modal" data-bs-target="#performanceModel" title="Ajouter une prestation"></i>
            </h2>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive pb-3">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="performance_table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for performance in performances %}
                                    <tr id="perf-{{ performance.id }}">
                                        <td>{{ performance.label }}</td>
                                        <td>
                                            <a href="{% url 'edit_simple_form' 'Performance' performance.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <button onclick="delete_model_object(`{% url 'delete_model_object' 'Performance' performance.id %}`, `perf-{{ performance.id }}`)" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#performanceModel">Ajouter une prestation</button>
                        <button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#importPerformanceModel">Importer des prestations</button>
                    </div>
                    <!-- Performance Modal -->
                    <form method="post">
                        {% csrf_token %}
                        {% include 'nifleur/components/errors_form.html' with form=performance_form %}
                        <div class="modal fade" id="performanceModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="performanceModelLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="performanceModelLabel">Ajouter une prestation</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ performance_form.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Créer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Import Performance Modal -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal fade" id="importPerformanceModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importPerformanceModelLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importPerformanceModelLabel">Importer des Prestations</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="performance_csv">Choississez un fichier CSV</label>
                                        <input type="file" id="performance_csv" name="performance_csv">
                                        <small>Un nom de prestation par ligne</small>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Importer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 class="d-flex justify-content-center">Liste des statut</h2>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="status_table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Position</th>
                                    <th>Couleur</th>
                                    <th>Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in status %}
                                    <tr>
                                        <td>{{ s.label }}</td>
                                        <td>{{ s.position }}</td>
                                        <td>{{ s.color }}</td>
                                        <td>{{ s.get_type_display }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    {% if request.user.is_superuser %}
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#importStatusModel">Importer des status</button>
                        </div>

                        <!-- Import Status Modal -->
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="modal fade" id="importStatusModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importStatusModelLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="importStatusModelLabel">Importer des status</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="status_csv">Choississez un fichier CSV</label>
                                            <input type="file" id="status_csv" name="status_csv">
                                            <small>nom du statue ; position ; couleur (hex) ; type</small>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <button type="submit" class="btn btn-primary">Importer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 class="d-flex justify-content-center">
                Liste des types de recrutement
                <i class="fa-solid fa-circle-plus fa-xs text-success clickable" data-bs-toggle="modal" data-bs-target="#recruitmentTypeModal" title="Ajouter un type de recrutement"></i>
            </h2>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive pb-3">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="recruitment_type_table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for recruitment_type in recruitment_types %}
                                    <tr id="recruitmentT-{{ recruitment_type.id }}">
                                        <td>{{ recruitment_type.label }}</td>
                                        <td>
                                            <a href="{% url 'edit_simple_form' 'RecruitmentType' recruitment_type.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <button onclick="delete_model_object(`{% url 'delete_model_object' 'RecruitmentType' recruitment_type.id %}`, 'recruitmentT-{{ recruitment_type.id }}')" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#recruitmentTypeModal">Ajouter un type de recrutement</button>
                        <button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#importRecruitmentTypeModal">Importer des types de recrutement</button>
                    </div>

                    <!-- recruitmentType Modal -->
                    <form method="post">
                        {% csrf_token %}
                        {% include 'nifleur/components/errors_form.html' with form=recruitment_type_form %}
                        <div class="modal fade" id="recruitmentTypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="recruitmentTypeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="recruitmentTypeModalLabel">Ajouter un type de recrutement</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ recruitment_type_form.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Créer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Import Recruitment type Modal -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal fade" id="importRecruitmentTypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importRecruitmentTypeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importRecruitmentTypeModalLabel">Importer des Types de recrutement</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="recruitment_type_csv">Choississez un fichier CSV</label>
                                        <input type="file" id="recruitment_type_csv" name="recruitment_type_csv">
                                        <small>Un nom de type de recrutement par ligne</small>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Importer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 class="d-flex justify-content-center">
                Liste des types de tarif
                <i class="fa-solid fa-circle-plus fa-xs text-success clickable" data-bs-toggle="modal" data-bs-target="#rateTypeModal" title="Ajouter un type de tarif"></i>
            </h2>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive pb-3">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="rate_type_table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for rate_type in rate_types %}
                                    <tr id="rateT-{{ rate_type.id }}">
                                        <td>{{ rate_type.label }}</td>
                                        <td>
                                            <a href="{% url 'edit_simple_form' 'RateType' rate_type.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <button onclick="delete_model_object(`{% url 'delete_model_object' 'RateType' rate_type.id %}`, 'rateT-{{ rate_type.id }}')" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#rateTypeModal">Ajouter un type de tarif</button>
                        <button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#importRateTypeModal">Importer un type de tarif</button>
                    </div>

                    <!-- Rate type Modal -->
                    <form method="post">
                        {% csrf_token %}
                        {% include 'nifleur/components/errors_form.html' with form=rate_type_form %}
                        <div class="modal fade" id="rateTypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rateTypeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="rateTypeModalLabel">Ajouter un type de tarif</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ rate_type_form.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Créer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Import Rate type Modal -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal fade" id="importRateTypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importRateTypeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importRateTypeModalLabel">Importer des Types de tarif</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="rate_type_csv">Choississez un fichier CSV</label>
                                        <input type="file" id="rate_type_csv" name="rate_type_csv">
                                        <small>Un nom de type de tarif par ligne</small>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Importer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 class="d-flex justify-content-center">
                Liste des types de société
                <i class="fa-solid fa-circle-plus fa-xs text-success clickable" data-bs-toggle="modal" data-bs-target="#companyTypeModal" title="Ajouter un type de société"></i>
            </h2>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive pb-3">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="company_type_table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for company_type in company_types %}
                                    <tr id="companyT-{{ company_type.id }}">
                                        <td>{{ company_type.label }}</td>
                                        <td>
                                            <a href="{% url 'edit_simple_form' 'CompanyType' company_type.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <button onclick="delete_model_object(`{% url 'delete_model_object' 'CompanyType' company_type.id %}`, 'companyT-{{ company_type.id }}')" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#companyTypeModal">Ajouter un type de société</button>
                        <button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#importCompanyTypeModal">Importer un type de société</button>
                    </div>

                    <!-- Company type Modal -->
                    <form method="post">
                        {% csrf_token %}
                        {% include 'nifleur/components/errors_form.html' with form=company_type_form %}
                        <div class="modal fade" id="companyTypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="companyTypeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="companyTypeModalLabel">Ajouter un type de société</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ company_type_form.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Créer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Import Performance Modal -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal fade" id="importCompanyTypeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importCompanyTypeModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importCompanyTypeModalLabel">Importer des Types de société</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="company_type_csv">Choississez un fichier CSV</label>
                                        <input type="file" id="company_type_csv" name="company_type_csv">
                                        <small>Un nom de type de société par ligne</small>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Importer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 class="d-flex justify-content-center">
                Liste des unités
                <i class="fa-solid fa-circle-plus fa-xs text-success clickable" data-bs-toggle="modal" data-bs-target="#unitModal" title="Ajouter une unité"></i>
            </h2>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive pb-3">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="unit_table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for unit in units %}
                                    <tr id="unit-{{ unit.id }}">
                                        <td>{{ unit.label }}</td>
                                        <td>
                                            <a href="{% url 'edit_simple_form' 'Unit' unit.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <button onclick="delete_model_object(`{% url 'delete_model_object' 'Unit' unit.id %}`, 'unit-{{ unit.id }}')" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#unitModal">Ajouter une unité</button>
                        <button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#importUnitModal">Importer une unité</button>
                    </div>

                    <!-- Unit Modal -->
                    <form method="post">
                        {% csrf_token %}
                        {% include 'nifleur/components/errors_form.html' with form=unit_form %}
                        <div class="modal fade" id="unitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="unitModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="unitModalLabel">Ajouter une unité</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ unit_form.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Créer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Import Performance Modal -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal fade" id="importUnitModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importUnitModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importUnitModalLabel">Importer des unités</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="unit_csv">Choississez un fichier CSV</label>
                                        <input type="file" id="unit_csv" name="unit_csv">
                                        <small>Un nom d'unité par ligne</small>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Importer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <h2 class="d-flex justify-content-center">
                Liste des structures juridiques
                <i class="fa-solid fa-circle-plus fa-xs text-success clickable" data-bs-toggle="modal" data-bs-target="#legalStructureModel" title="Ajouter une structure juridique"></i>
            </h2>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive pb-3">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="legal_structure_table">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for legal_structure in legal_structures %}
                                    <tr id="legal-struct-{{ legal_structure.id }}">
                                        <td>{{ legal_structure.label }}</td>
                                        <td>
                                            <a href="{% url 'edit_simple_form' 'LegalStructure' legal_structure.id %}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <button onclick="delete_model_object(`{% url 'delete_model_object' 'LegalStructure' legal_structure.id %}`, `legal-struct-{{ legal_structure.id }}`)" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#legalStructureModel">Ajouter une structure juridique</button>
                        <button type="button" class="btn btn-info ml-3" data-bs-toggle="modal" data-bs-target="#importlegalStructureModel">Importer des structure juridique</button>
                    </div>
                    <!-- Performance Modal -->
                    <form method="post">
                        {% csrf_token %}
                        {% include 'nifleur/components/errors_form.html' with form=legal_structure_form %}
                        <div class="modal fade" id="legalStructureModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="legalStructureModelLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="legalStructureModelLabel">Ajouter une structure juridique</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ legal_structure_form.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Créer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- Import Performance Modal -->
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal fade" id="importlegalStructureModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="importlegalStructureModelLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="importlegalStructureModelLabel">Importer des structures juridiques</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="legal_structure_csv">Choississez un fichier CSV</label>
                                        <input type="file" id="legal_structure_csv" name="legal_structure_csv">
                                        <small>Un nom de structure juridique par ligne</small>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Importer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-xs-12">
            <h2 class="d-flex justify-content-center">Liste des utilisateurs</h2>
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive pb-3">
                        <table class="table table-striped table-hover table-sm align-middle text-center" id="user_table">
                            <thead>
                                <tr>
                                    <th>Nom d'utilisateur</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Mail</th>
                                    <th>Actif</th>
                                    <th>Staff</th>
                                    <th>Admin</th>
                                    <th>Dernière connexion</th>
                                    <th>Inscription</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr id="user-{{ user.id }}">
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{% include 'nifleur/components/boolean_icon.html' with data=user.is_active %}</td>
                                        <td>{% include 'nifleur/components/boolean_icon.html' with data=user.is_staff %}</td>
                                        <td>{% include 'nifleur/components/boolean_icon.html' with data=user.is_superuser %}</td>
                                        <td>{% if user.last_login %}{{ user.last_login }}{% endif %}</td>
                                        <td>{{ user.date_joined }}</td>
                                        <td>
                                            <a href="{# TODO edit #}" class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                            <button onclick="{# TODO delete #}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#UserModal">Créer un utilisateur</button>
                    </div>
                    <!-- User Modal -->
                    <form method="post">
                        {% csrf_token %}
                        {% include 'nifleur/components/errors_form.html' with form=user_form %}
                        <div class="modal fade" id="UserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="UserModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="UserModalLabel">Créer un utilisateur</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ user_form.as_p }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="submit" class="btn btn-primary">Créer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block custom_javascript %}
    <script>
        function delete_model_object(url, tr) {
            const request = new Request(url, {method: 'GET'})
            fetch(request)
                .then(response => response.text())
                .then(result => {
                    document.getElementById(tr).remove()
                    notification("L'élément a bien été supprimée")
                })
        }
    </script>
    <script src="{% static 'vendors/datatables/jquery.dataTables.min.js' %}"></script>
    <script>
        function CustomDataTable(tables){
            for (let i = 0; i < tables.length; i++) {
                tables[i].DataTable({
                    'columnDefs': [{'className': 'text-center', 'targets': '_all'}],
                    'language': {'url': "{% static 'vendors/datatables/translate_fr.json' %}"}
                })
            }
        }
        $(() => {
            CustomDataTable([
                $('#performance_table'), $('#recruitment_type_table'), $('#rate_type_table'),$('#company_type_table'),
                $('#unit_table'), $('#user_table'), $('#legal_structure_table')
            ])

            $('#status_table').DataTable({
                'ordering': false,
                'columnDefs': [{'className': 'text-center', 'targets': '_all'}],
                'language': {'url': "{% static 'vendors/datatables/translate_fr.json' %}"}
            })
        })
    </script>
{% endblock %}