{% extends 'nifleur/base_site.html' %}

{% load static %}

{% block title %}Promotion {{ school }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Ecole {{ school }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-sm align-middle text-center">
                    <thead>
                        <tr>
                            <th>Promotion</th>
                            <th>Nom complet</th>
                            <th>Matières</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for school_year in school.structure_school_year.all %}
                            <tr>
                                <td>{{ school_year.year }}</td>
                                <td>{% if school_year.label %}{{ school_year.label }}{% endif %}</td>
                                <td>
                                    {% for discipline in school_year.disciplines.all %}
                                        {{ discipline }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}