{% extends 'nifleur/base_site.html' %}

{% load static %}

{% block title %}Intervenants{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'vendors/datatables/jquery.dataTables.min.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="d-flex justify-content-center">Liste des Intervenants</h1>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="table-responsive">
                            <table class="table table-striped table-hover table-sm align-middle text-center" id="speakers_table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Civilité</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>Société</th>
                                    <th>Mail</th>
                                    <th>Numéro de téléphone</th>
                                    <th>Diplôme le plus élevé</th>
                                    <th>Domaine de compétence<br>principal</th>
                                    <th>Domaine de compétence<br>secondaire</th>
                                    <th>Domaine de compétence<br>tertiaire</th>
                                    <th>Niveau de pédagogie</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for speaker in speakers %}
                                    <tr>
                                        <td><a href="{% url 'speaker_details' speaker.id %}"><i class="fa-solid fa-eye"></i></a></td>
                                        <td>{{ speaker.get_civility_display }}</td>
                                        <td>{{ speaker.first_name }}</td>
                                        <td>{{ speaker.last_name }}</td>
                                        <td>
                                            {% if speaker.company %}{{ speaker.company }}{% endif %}
                                            {% if speaker.company_type %}({{ speaker.get_company_type_display }}){% endif %}
                                        </td>
                                        <td>{{ speaker.mail }}</td>
                                        <td>{% if speaker.phone_number %}{{ speaker.phone_number.as_national }}{% endif %}</td>
                                        <td>{{ speaker.highest_degree }}</td>
                                        <td>{{ speaker.main_area_of_expertise }}</td>
                                        <td>{% if speaker.second_area_of_expertise %}{{ speaker.second_area_of_expertise }}{% endif %}</td>
                                        <td>{% if speaker.third_area_of_expertise %}{{ speaker.third_area_of_expertise }}{% endif %}</td>
                                        <td>{% include 'nifleur/components/expertise_level.html' with level=speaker.teaching_expertise_level display=speaker.get_teaching_expertise_level_display %}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-md-3 col-md-6 offset-sm-2 col-sm-8 col-xs-12">
            <h1 class="d-flex justify-content-center">Ajouter un Intervenant</h1>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% include 'nifleur/components/errors_form.html' %}
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                {{ form.civility.label }}
                                {{ form.civility }}
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                {{ form.first_name.label }}
                                {{ form.first_name }}
                            </div>
                            <div class="col-sm-5 col-xs-12">
                                {{ form.last_name.label }}
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                {{ form.mail.label }}
                                {{ form.mail }}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                {{ form.phone_number.label }}
                                {{ form.phone_number }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                {{ form.highest_degree.label }}
                                {{ form.highest_degree }}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                {{ form.main_area_of_expertise.label }}
                                {{ form.main_area_of_expertise }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                {{ form.second_area_of_expertise.label }}
                                {{ form.second_area_of_expertise }}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                {{ form.third_area_of_expertise.label }}
                                {{ form.third_area_of_expertise }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                {{ form.teaching_expertise_level.label }}
                                {{ form.teaching_expertise_level }}
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                {{ form.company.label }}
                                {{ form.company }}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_javascript %}
    <script src="{% static 'js/autocomplete.js' %}"></script>
    <script src="{% static 'vendors/datatables/jquery.dataTables.min.js' %}"></script>
    <script>
    $(() => {
        $('#speakers_table').DataTable({
            'columnDefs': [{'className': 'text-center', 'targets': '_all'}],
            'language': {'url': "{% static 'vendors/datatables/translate_fr.json' %}"}
        })
    })
    </script>
{% endblock %}