/*************************
    DEFAULT PARAMETERS
*************************/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*************************
          Spaces
*************************/

.ml-3
{
    margin-left: 1rem;
}

.mr-3
{
    margin-right: 1rem;
}

.last-row
{
    margin-bottom: 7rem;
}


/*************************
          Text
*************************/

h3 a
{
    text-decoration: none;
    color: black;
}

h3.main-number
{
    font-size: xxX-large;
    color: var(--main_salmon);
    text-align: center;
}


/*************************
          BUTTON
*************************/

.btn
{
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary
{
    background-image: linear-gradient(to right, var(--main_salmon), var(--main_yellow));
    color: white;
    border-color: var(--main_salmon) !important;
}

.btn-push
{
    box-shadow: 0 5px 0 #B8B8B8;

    /*Animation*/
    transition: all 0.1s;
}

.btn-push:active
{
  box-shadow: 0 1px 0 #B8B8B8;
  position: relative;
  top: 3px;
}

.clickable
{
    cursor: pointer;
}


/*************************
           IMG
*************************/

.abraxan-logo
{
    height: 100px;
    width: auto;
}

.other-logo
{
    position: fixed;
    right: 10px;
    bottom: 0;
    background-color: white;
}

.other-logo img
{
    height: 100px;
    width: auto;
    margin: 0 0.5rem;
}


/*************************
          FORM
*************************/

.required
{
    font-weight: bold;
    margin-bottom: 0;
}

form .row
{
    margin: 0.5rem 0;
}


/*************************
         SIDEBAR
*************************/

.fa-2x
{
    font-size: 2em;
}

.fa
{
    position: relative;
    display: table-cell !important;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

.main-menu:hover,
nav.main-menu.expanded
{
    width: 250px;
    overflow: visible;
}

.main-menu
{
    background: var(--main_blue);
    border-right: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    transition: width .05s linear;
    transform: translateZ(0) scale(1,1);
    z-index: 1000;
}

.main-menu .header
{
    margin: 7px 0 0 1rem;
}

.main-menu .header h3
{
    color: white;
}

.main-menu>ul
{
    margin: 7px 0;
}

.main-menu li
{
    position: relative;
    display: block;
    width: 250px;
    margin: 0.5rem 0;
}

.main-menu li>a,
.main-menu li .header-menu
{
    position: relative;
    display: table;
    padding: 0.5rem 0;
    border-spacing: 0;
    color: white;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-decoration: none;
    transform: translateZ(0) scale(1,1);
    transition: all .1s linear;
}

.main-menu .nav-icon
{
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text
{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
}

.main-menu>ul.logout
{
    position: absolute;
    left: 0;
    bottom: 0;
}

.main-menu .img-avatar
{
    border-radius: 100%;
    margin-right: 10px;
}

.no-touch .scrollable.hover
{
    overflow-y: hidden;
}

a:hover,a:focus
{
    text-decoration: none;
}

nav
{
    user-select: none;
}

nav ul,nav li
{
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a
{
    background-color: var(--main_salmon);
}


/*************************
         TIMELINE
*************************/

.wrapper
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps
{
  max-width: 300px;
  margin: 0 auto;
}

.step
{
  display: flex;
  position: relative;
}

.step:after
{
  content: "";
  position: absolute;
  left: 15px;
  top: 32px;
  height: 0;
  width: 2px;
  background-color: #007EA7;
}

.step .info
{
  margin: 8px 0 20px;
}

.step .title
{
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 8px;
  color: black;
}

.step .text
{
  font-size: 12px;
  color: black;
  padding-bottom: 0;
  margin: 0;
}

.step:not(:last-child):after
{
  height: 50%;
}

.number
{
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #007EA7;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-right: 14px;
}

.number.completed
{
  background-color: #007EA7;
}

.number svg
{
  width: 16px;
  height: 16px;
  object-fit: contain;
}

.number svg path
{
  fill: white;
}

.btn-timeline-group
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btn-timeline
{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(to right, var(--main_yellow), var(--main_salmon));
    border: none;
    border-radius: 10px;
    color: white;
    margin: 1rem 0.5rem;
    text-decoration: none;
}

.btn-timeline:hover
{
    color: white;
}

.btn-disabled
{
    pointer-events: none;
    background: gray;
}